<section>
  <div class="page-header">
    Name: <h1 data-ng-bind="vm.ad.name"></h1>
	Description: <h1 data-ng-bind="vm.ad.description"></h1>
	URL: <h1 data-ng-bind="vm.ad.url"></h1>
	Number of Views: <h1 data-ng-bind="vm.ad.numViews"></h1>
	Number of Clicks: <h1 data-ng-bind="vm.ad.numClicks"></h1>
	Click Through Rate: <h1 data-ng-bind="vm.ad.clickThroughRate"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.ad.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="ads.edit({ adId: vm.ad._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.ad.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.ad.user"
            data-ng-bind="vm.ad.user.displayName"></span>
      <span data-ng-if="!vm.ad.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.ad.content"></p>
</section>
